*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: fraunces;
    src: url(./fonts/Fraunces_9pt-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}
:root{
    --clr-neutral-dark-blue: hsl(212, 21%, 14%);
    --clr-neutral-grayish-blue: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --clr-primary-cyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);
}