*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
@font-face {
    font-family: fraunces;
    src: url(./fonts/Fraunces_9pt-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}
:root{
    --clr-neutral-dark-blue: hsl(212, 21%, 14%);
    --clr-neutral-grayish-blue: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --clr-primary-cyan: hsl(158, 36%, 37%);
    --clr-primary-cream: hsl(30, 38%, 92%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-primary-cream);
}
.container{
    display: grid;
    grid-template: 0.5fr 0.8fr 1.5fr 0.7fr 1fr / 300px 300px;
    /* width: 60%; */
    padding-right: 10px;
    gap: 10px;
    border-radius: 15px;
    background-color: var(--clr-neutral-white);
}
.container > img{
    grid-area: 1/1/6/2;
    width: 100%;
    border-radius: 15px;
}
.title{
    margin-top: 10px;
    font-size: 0.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: fraunces;
    color: var(--clr-neutral-grayish-blue);
}
.title+h2{
    font-size: 1.3rem;
    font-family: montserrat;
    text-transform: capitalize;
    font-weight: bolder;
    color: var(--clr-neutral-dark-blue);
}
.description{
    /* background: #e8afaf8e; */
    font-size: 0.5rem;
    width: 100%;
}
.money{
    display: flex;
    gap: 15px;
    align-items: center;
}
.money>h2{
    font-size: 1.5rem;
    color: var(--clr-primary-cyan);
}
.money>.money-invalid{
    font-size: 0.5rem;
    text-decoration: line-through;
}
button{
    height: 70%;
    align-self: center;
    width: 75%;
    justify-self: center;
    font-size: 0.5rem;
    background-color: var(--clr-primary-cyan);
    color: var(--clr-neutral-white);
    border: none;
    border-radius: 15px;
}
button>img{
    margin-right: 15px;
}

@media only screen and (max-width: 495px) {
    body{
        padding: 15px;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 85%;
        padding: 0 0 25px 0;
    }
    .container>img{
        border-radius: 15px 15px 0 0;
        height: 320px;
    }
    .title{
        align-self: flex-start;
        margin-left: 15px;
    }
    .title+h2{
        margin: 0 15px;
    }
    .description{
        padding: 0 15px;
    }
    .container>.money{
        align-self: flex-start;
        /* margin: 0 15px; */
        padding:  0 15px;
    }
    button{
        /* height: 90px; */
        padding: 10px;
    }
}

@media only screen and (max-width:635px){
    .container{
        grid-template-columns: 250px 250px;
    }
}