*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: fraunces;
    src: url(./fonts/Fraunces_9pt-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}